{% extends 'base.html' %}
{%block title%} Add page {%endblock%}

{% block content %}
    <h3 align="center"> Welcome</h3>
    <br/><br/>
    <div class="container-fluid">
    <form method= "POST">
        {{ form.hidden_tag() }}
        {{ form.name.label ()}}
        {{ form.name(class="form-control") }}
        </br>
        {{ form.submit(class="btn btn-dark mb-3") }}
        </br>
    </form>
    </div>

{% endblock %}